<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Dreams</title>
  <link rel="stylesheet" href="assets/css/card.css">
  <%- include("../template/head") %>
</head>

<body>
  <!-- SIDEBAR START -->
  <%- include("../template/sidebar.ejs") %>
    <!-- SIDEBAR END -->


    <!-- CONTAINER START -->
    <div class="container article-clean  py-2">
      <div class="text-center intro">
        <h1 class="text-center">My Dreams</h1>
        <p class="text-center"><span class="by">by</span> <a href="#">Ruh Adam</a><span class="date">Jul 30th 2023 </span></p>

    </div>
    
      
         <hr>
      
          <article class="postcard light blue">
            <a class="postcard__img_link" href="#">
              <img class="postcard__img" src="assets/img/nyc2.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title blue"><a href="#">New York</a></h1>
              <div class="postcard__subtitle small">
                <time datetime="2023-08-10 18:00:00">
                  <i class="fas fa-calendar-alt mr-2"></i>Tue, 30th 2023
                </time>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">I don't know since when, but I've always wanted to see New York. However, I feel like my soul belongs there. I want to wander its streets, climb a skyscraper, and watch the cityscape. Unlike many people, I'm not fond of natural things. Skyscrapers and buildings are more interesting to me :)</div>
           
            </div>
          </article>
          <article class="postcard light red">
            <a class="postcard__img_link" href="#">
              <img class="postcard__img" src="assets/img/amg.png" alt="Image Title" />	
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title red"><a href="#">Mercedes Benz</a></h1>
              <div class="postcard__subtitle small">
                <time datetime="2023-08-10 18:00:00">
                  <i class="fas fa-calendar-alt mr-2"></i>Tue, 30th 2023
                </time>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">I'm sure everyone has a dream car they've always envisioned. Since childhood, the cars I've been a fan of are Mercedes. They are not only very stylish but also powerful and incredibly comfortable. That's why my preference leans towards Mercedes. Of course, there are many models to choose from, making the decision quite challenging. However, I think, even if I had billions, the car I would drive is the AMG GT63.</div>
        
            </div>
          </article>
          <article class="postcard light green">
            <a class="postcard__img_link" href="#">
              <img class="postcard__img" src="assets/img/setup.png" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title green"><a href="#">Perfect Setup</a></h1>
              <div class="postcard__subtitle small">
                <time datetime="2023-08-10 18:00:00">
                  <i class="fas fa-calendar-alt mr-2"></i>Tue, 30th 2023
                </time>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">I started using computers at a very young age, around 4 or 5 years old, I believe. I have been using computers for a long time now. Anyone involved with computers wishes to have a good computer and equipment. My passion for computers helped me choose my profession, and I continue my life as a web developer. Having my workspace at maximum comfort is among my dreams. Additionally, I want a minibar under my desk. I can open it whenever I want and grab a cold drink.</div>
           
            </div>
          </article>
          <!-- /
          <article class="postcard light yellow">
            <a class="postcard__img_link" href="#">
              <img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title yellow"><a href="#">Strong and Healty</a></h1>
              <div class="postcard__subtitle small">
                <time datetime="2023-08-10 18:00:00">
                  <i class="fas fa-calendar-alt mr-2"></i>Tue, 30th 2023
                </time>
              </div>
              <div class="postcard__bar"></div>
              <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
          
            </div>
          </article>
           -->
        </div>
      
   

    <!-- CONTAINER END -->



    <%- include("../template/script.ejs") %>

<style></style>
</body>

</html>