<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>My Project</title>
    <%- include("../template/head") %>


</head>

<body style="padding-left: 0rem;">
    <!-- SIDEBAR START -->
    <%- include("../template/sidebar.ejs") %>
        <!-- SIDEBAR END -->

        <!-- CONTAINER START -->

        <div class="container article-clean pt-5">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="text-center intro">
                        <h1 class="text-center">My Projects</h1>
                        <p class="text-center"><span class="by">by</span> <a href="#">Ruh Adam</a><span class="date">
                                July 31<sup>th</sup> 2023
                            </span></p>
                    </div>
                    <hr class="custom-hr">
                    <div class="gif-container">
                        <img src="/assets/videos/giphy.gif" style="width: 100px;" alt="gif" class="animated-gif">
                    </div>
                </div>
            </div>
            <div class="row m-auto">
                <div class="col-md-6 col-lg-4 pb-3" data-aos="fade-up" data-aos-duration="1500">

                    <!-- Copy the content below until next comment -->
                    <div class="card card-custom bg-white border-white border-0">
                        <div class="card-custom-img" style="background-image: url(/assets/img/nyc-project.jpg);">
                        </div>
                        <div class="card-custom-avatar">
                            <img class="img-fluid" src="/assets/img/github.png" alt="Github" />
                        </div>
                        <div class="card-body" style="overflow-y: auto">
                            <h4 class="card-title">Superhero Comparison</h4>
                            <p class="card-text">I developed a website where you can compare the abilities of Marvel and
                                DC superheroes.</p>
                        </div>
                        <div class="card-footer" style="background: inherit; border-color: inherit;">
                            <a href="https://github.com/Ruhadaam/Super-Heroes-Versus" target="_blank"
                                class="btn btn-outline-dark btn-lg">Go Repo</a>
                        </div>
                    </div>
                    <!-- Copy until here -->

                </div>
                <div class="col-md-6 col-lg-4 pb-3" data-aos="fade-up" data-aos-duration="1500">

                    <!-- Copy the content below until next comment -->
                    <div class="card card-custom bg-white border-white border-0">
                        <div class="card-custom-img" style="background-image: url(/assets/img/nyc-project.jpg);">
                        </div>
                        <div class="card-custom-avatar">
                            <img class="img-fluid" src="/assets/img/github.png" alt="Avatar" />
                        </div>
                        <div class="card-body" style="overflow-y: auto">
                            <h4 class="card-title">Countries Info</h4>
                            <p class="card-text">I have developed a website where you can view some data of countries
                                and their neighboring countries.</p>
                        </div>
                        <div class="card-footer" style="background: inherit; border-color: inherit;">
                            <a href="https://github.com/Ruhadaam/get-country-info" target="_blank"
                                class="btn btn-outline-dark btn-lg">Go Repo</a>
                        </div>
                    </div>
                    <!-- Copy until here -->

                </div>
                <div class="col-md-6 col-lg-4 pb-3" data-aos="fade-up" data-aos-duration="1500">

                    <!-- Copy the content below until next comment -->
                    <div class="card card-custom bg-white border-white border-0">
                        <div class="card-custom-img" style="background-image: url(/assets/img/nyc-project.jpg);">
                        </div>
                        <div class="card-custom-avatar">
                            <img class="img-fluid" src="/assets/img/github.png" alt="Avatar" />
                        </div>
                        <div class="card-body" style="overflow-y: auto">
                            <h4 class="card-title">Password Maker</h4>
                            <p class="card-text">I designed a site that creates strong and complex passwords for you.
                            </p>
                        </div>
                        <div class="card-footer" style="background: inherit; border-color: inherit;">
                            <a href="https://github.com/Ruhadaam/password-maker" target="_blank"
                                class="btn btn-outline-dark btn-lg">Go Repo</a>

                        </div>
                    </div>
                    <!-- Copy until here -->

                </div>
            </div>
            <div class="row m-auto">
                <div class="col-md-6 col-lg-4 pb-3" data-aos="fade-up" data-aos-duration="1500">

                    <!-- Copy the content below until next comment -->
                    <div class="card card-custom bg-white border-white border-0">
                        <div class="card-custom-img" style="background-image: url(/assets/img/nyc-project.jpg);">
                        </div>
                        <div class="card-custom-avatar">
                            <img class="img-fluid" src="/assets/img/github.png" alt="Github" />
                        </div>
                        <div class="card-body" style="overflow-y: auto">
                            <h4 class="card-title">Online Notebook</h4>
                            <p class="card-text">A site where people can go online and take notes</p>
                        </div>
                        <div class="card-footer" style="background: inherit; border-color: inherit;">
                            <a href="https://github.com/Ruhadaam/Online-Not-Defteri" target="_blank"
                                class="btn btn-outline-dark btn-lg">Go Repo</a>
                        </div>
                    </div>
                    <!-- Copy until here -->

                </div>
                <div class="col-md-6 col-lg-4 pb-3" data-aos="fade-up" data-aos-duration="1500">

                    <!-- Copy the content below until next comment -->
                    <div class="card card-custom bg-white border-white border-0">
                        <div class="card-custom-img" style="background-image: url(/assets/img/nyc-project.jpg);">
                        </div>
                        <div class="card-custom-avatar">
                            <img class="img-fluid" src="/assets/img/github.png" alt="Github" />
                        </div>
                        <div class="card-body" style="overflow-y: auto">
                            <h4 class="card-title">Online Quiz</h4>
                            <p class="card-text">It's a site where people can enter and take online quizzes. It's still
                                in development, but this is my most comprehensive project.</p>
                        </div>
                        <div class="card-footer" style="background: inherit; border-color: inherit;">
                            <a href="https://github.com/Ruhadaam/yarisma" target="_blank"
                                class="btn btn-outline-dark btn-lg">Go Repo</a>
                        </div>
                    </div>
                    <!-- Copy until here -->

                </div>

            </div>


        </div>

        <!-- CONTAINER END -->
        <%- include("../template/script.ejs") %>
            <style>
                .card-custom {
                    overflow: hidden;
                    min-height: 450px;
                    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
                }

                .card-title {
                    color: #6A9CCB;
                }


                .card-custom-img {
                    height: 200px;
                    min-height: 200px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    border-color: inherit;

                }

                /* First border-left-width setting is a fallback */
                .card-custom-img::after {
                    position: absolute;
                    content: '';
                    top: 161px;
                    left: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-top-width: 40px;
                    border-right-width: 0;
                    border-bottom-width: 0;
                    border-left-width: 545px;
                    border-left-width: calc(575px - 5vw);
                    border-top-color: transparent;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                    border-left-color: inherit;

                }

                .card-custom-avatar img {
                    border-radius: 50%;
                    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
                    position: absolute;
                    top: 100px;
                    left: 1.25rem;
                    width: 100px;
                    height: 100px;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
                }
            </style>

            <style>
                .btn {
                    color: rgb(87, 87, 87);
                    font-size: 16px;
                    font-weight: 800;
                    position: relative;
                    border: 1px solid #EAAFA3;
                    border-radius: 0 !important;
                    transition: all 0.3s ease 0s;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                }

                .btn:hover,
                .btn.active:hover {
                    color: #ffffff;

                    background: rgb(120, 157, 191);
                    background: linear-gradient(0deg, rgba(120, 157, 191, 1) 0%, rgba(226, 187, 180, 1) 100%);
                    border: #EAAFA3 1px solid;
                }

                .btn:before {
                    content: "";
                    position: absolute;
                    top: -7px;
                    left: 0;
                    background-color: #EAAFA3;
                    width: 30%;
                    height: 2px;
                    transition: all 0.3s ease 0s;
                }

                .btn:after {
                    content: "";
                    position: absolute;
                    bottom: -7px;
                    right: 0;
                    background-color: #EAAFA3;
                    width: 30%;
                    height: 2px;
                    transition: all 0.3s ease 0s;
                }

                .btn:hover:before,
                .btn:hover:after,
                .btn.active:before,
                .btn.active:after {
                    width: 100%;
                }

                @media screen and (max-width: 575px) {
                    .btn {
                        margin-bottom: 50px !important;
                    }
                }
            </style>

            <script>
                AOS.init();
            </script>


</body>

</html>