
<ul class="nav flex-column shadow d-flex sidebar mobile-hid">
    <li class="nav-item logo-holder">
        <div class="text-center text-white logo py-4 mx-4"><a class="text-white text-decoration-none" id="title"
                href="/"><strong>Ruh Adam</strong></a><a class="text-white float-right" id="sidebarToggleHolder"
                href="#"><i class="fas fa-bars" id="sidebarToggle"></i></a>
            </div>

    </li>
    <li class="nav-item">
        <div class="text-center mb-5">
            <a href="/">
            <img src="/assets/img/ruhadam.jpg" style="width: 173px; height: 173px;  object-fit: cover;
            object-position: center;  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;"
                class="card-img-top rounded-circle mb-3">
            </a>
            <h4 style="color: white !important;">Alperen Gökçek</h4>
            <div class="social-icons">
                <a href="https://www.instagram.com/bay.ruhadam" target="_blank" class="social-icon  py-1 px-0"><i
                        class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/alperen-g%C3%B6k%C3%A7ek-806798234/" target="_blank"
                    class="social-icon  py-1 px-0"><i class="fab fa-linkedin"></i></a>
                <a href="https://x.com/mrruhadam" target="_blank" class="social-icon  py-1 px-0"><i
                        class="fab fa-x-twitter"></i></a>

            </div>
        </div>
    </li>

    <li class="nav-item"><a class="nav-link text-left text-white py-1 px-0" href="/">
            <i class="fas fa-house fa-lg mx-3"></i><span class="text-nowrap mx-2">Home</span>
        </a></li>
    <li class="nav-item"><a class="nav-link text-left text-white py-1 px-0" href="/about">
            <i class="fas fa-user fa-lg mx-3"></i><span class="text-nowrap mx-2">About Me</span>
        </a></li>
    <li class="nav-item"><a class="nav-link text-left text-white py-1 px-0" href="/projects"><i
                class="fas fa-regular fa-code fa-lg mx-3"></i><span class="text-nowrap mx-2">My Projects</span></a>
    </li>
    <li class="nav-item"><a class="nav-link text-left text-white py-1 px-0" href="/dreams"><i
                class="fas fa-regular fa-star fa-lg mx-3"></i><span class="text-nowrap mx-2">My Dreams</span></a>
    </li>


</ul>

<script>
   
</script>